<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <setting name="logImpl" value="LOG4J"/>
        <setting name="autoMappingBehavior" value="FULL"/>
    </settings>
    <!--类型别名-->
    <typeAliases>
        <package name="cn.cvs.pojo"/>
    </typeAliases>

</configuration>

<!--<configuration>-->
<!--    &lt;!&ndash;引入包含数据库连接参数的database.properties文件&ndash;&gt;-->
<!--    <properties resource="database.properties"/>-->
<!--    &lt;!&ndash;1.设置MyBatis框架的运行时行为&ndash;&gt;-->
<!--    <settings>-->
<!--        &lt;!&ndash;使用log4j作为mybatis框架的日志实现&ndash;&gt;-->
<!--        <setting name="logImpl" value="LOG4J"/>-->
<!--        &lt;!&ndash;        自动映射&ndash;&gt;-->
<!--        <setting name="autoMappingBehavior" value="FULL"/>-->
<!--    </settings>-->
<!--    <typeAliases>-->
<!--        <package name="cn.cvs.pojo"/>-->
<!--    </typeAliases>-->
<!--    &lt;!&ndash;2.配置MyBatis框架的运行环境&ndash;&gt;-->
<!--    <environments default="development">-->
<!--        <environment id="development">-->
<!--            <transactionManager type="JDBC"></transactionManager>-->
<!--            <dataSource type="POOLED">-->
<!--                <property name="driver" value="${driver}"/>-->
<!--                <property name="url" value="${url}"/>-->
<!--                <property name="username" value="${username}"/>-->
<!--                <property name="password" value="${password}"/>-->
<!--            </dataSource>-->
<!--        </environment>-->
<!--    </environments>-->
<!--    &lt;!&ndash;3.配置需要引用的SQL映射文件的位置&ndash;&gt;-->
<!--    <mappers>-->
<!--        <package name="cn.cvs.dao"/>-->
<!--&lt;!&ndash;        <package name="cn.cvs.dao.tAddress"/>&ndash;&gt;-->
<!--&lt;!&ndash;        <package name="cn.cvs.dao.tSysRole"/>&ndash;&gt;-->
<!--&lt;!&ndash;        <package name="cn.cvs.dao.tStorageRecord"/>&ndash;&gt;-->
<!--&lt;!&ndash;        <package name="cn.cvs.dao.tsysUser"/>&ndash;&gt;-->
<!--&lt;!&ndash;        <package name="cn.cvs.dao.tSupplier"/>&ndash;&gt;-->
<!--    </mappers>-->
<!--</configuration>-->